Flask==1.1.2
Flask-Cors==3.0.10
flatbuffers==1.12
Jinja2==3.0.1
Keras-Preprocessing==1.1.2
numpy==1.19.5
oauthlib==3.1.0
requests==2.25.1
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow-cpu==2.5.0
tensorflow-estimator==2.5.0
urllib3==1.26.5
Werkzeug==1.0.1
wrapt==1.12.1
