<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Image Classifier</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <link href="{{  url_for('static', filename = '/favicon.ico') }}" rel="icon">
  <link href="{{  url_for('static', filename = '/favicon.ico') }}" rel="apple-touch-icon">
  <!-- Favicons
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <!-- <link type = "text/css" href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
 -->
  <link type="text/css" href="{{ url_for('static', filename = '/vendor/bootstrap/css/bootstrap.min.css') }}"
    rel="stylesheet">
  <link type="text/css" href="{{ url_for('static', filename = '/vendor/boxicons/css/boxicons.min.css') }}"
    rel="stylesheet">
  <link type="text/css" href="{{ url_for('static', filename = '/vendor/glightbox/css/glightbox.min.css') }}"
    rel="stylesheet">
  <link type="text/css" href="{{ url_for('static', filename = '/vendor/swiper/swiper-bundle.min.css') }}"
    rel="stylesheet">
  <link type="text/css" href="{{ url_for('static', filename = '/vendor/bootstrap-icons/bootstrap-icons.css') }}"
    rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet"><body id="main_body" >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Image_prediction</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='view.css') }}" media="all"> -->
    
    </head>
    <body id="main_body" >
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand">Explore</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
		  <ul class="navbar-nav">
			<li class="nav-item ">
			  <a class="nav-link" href="/">Home</a>
			</li>
			<li class="nav-item active">
			  <a class="nav-link" href="/about">About Me <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="/other_work">My other works</a>
			</li>
		  </ul>
		</div>
	  </nav>

    <div class="jumbotron jumbotron-fluid">
		<div class="container">
		  <h1 class="display-4">Smitkumar Panchal</h1>
		  <p class="lead">
            Hello guys <br>
            I am Smitkumar Panchal and I am 3rd year Computer engineering student at Vishwakarma Government Engineering College.
            Below in footer there are some social media links and also ping me on whatsapp any time on <br>
            <h3> 
                <img src="{{ url_for('static', filename = '/whatsapp.png') }}" alt="" srcset="" width="60px" height="50px">
                 +91 9586631102  </h3>
          </p>
		</div>
	  </div>
<!-- ======= Footer ======= -->
<footer id="footer" class="jumbotron">
    <div class="container">
    <h3>Thank you for the visiting the website.</h3>
    <p>For more information you can contact me.</p>
    <div class="social-links">
        <a href="https://twitter.com/SmitPanchal271" class="twitter" target="_blank"><i class="bi bi-twitter"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100011663110665&viewas=&show_switched_toast=false"
        class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/smitpanchal271/" class="instagram" target="_blank"><i
            class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/in/smitkumar-panchal-44162b1a0" class="linkedin" target="_blank"><i
            class="bi bi-linkedin"></i></a>
    </div>
    <div class="copyright">
        &copy; Copyright <strong><a href="https://github.com/Smit271"><span>Smitkumar Panchal</span></a></strong>. All
        Rights Reserved
    </div>
    <div class="credits">
    </div>
    </div>
</footer><!-- End Footer -->	

<!-- Vendor JS Files -->
<script src="{{ url_for('static', filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'vendor/glightbox/js/glightbox.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'vendor/php-email-form/validate.js') }}"></script>
<script src="{{ url_for('static', filename = 'vendor/purecounter/purecounter.js') }}"></script>
<script src="{{ url_for('static', filename = 'vendor/swiper/swiper-bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'vendor/waypoints/noframework.waypoints.js') }}"></script>

<!-- Template Main JS File -->
<script src="{{ url_for('static', filename = 'view.js') }}"></script>
</body>
